<table class="table">
    <thead  class="thead-dark">
    <tr>
        <th scope="col">Application Name</th>
        <th scope="col">Client name</th>
        <th scope="col">Creation</th>
        <th scope="col">Cloture</th>
        <th scope="col">Etat</th>

    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let  demand of demands"  scope="row">
        <th scope="col">{{demand.appName}}</th>
        <th scope="col">{{demand.clientName}} </th>
        <th scope="col">{{demand.creation}}</th>
        <th scope="col">{{demand.cloture}}</th>
        <th scope="col">{{demand.etat}}<select #state (change)="onSelected(demand,state.value)">
            
            <option  [selected]="demand.etat=='ENCOURS'" value="ENCOURS">ENCOURS</option>
            <option  [selected]="demand.etat=='ENATTENTE'" value="ENATTENTE" >ENATTENTE</option>
            <option  [selected]="demand.etat=='CLOTURE'"value="CLOTURE">CLOTURÉ</option>
          </select></th>

        </tr>
    </tbody>
    
</table>


