<div class="topnav">
    <button type="submit" (click)="goto('applications')">Applications</button>
    <button type="submit" (click)="goto('aboutus')">AboutUS</button>
    <ng-template [ngIf]="isLoggedIn && status!='ADMIN'">  <button  role="button"  (click)="goto('demands')">MyDemandes</button></ng-template>
    <ng-template [ngIf]="!isLoggedIn">  <button class="button" role="button" (click)="goto('login')">Login/Signup</button></ng-template>
    
    <ng-template [ngIf]="status=='ADMIN'">  <button class="button" role="button" (click)="goto('alldemands')">Demands</button></ng-template>
    <ng-template [ngIf]="status=='ADMIN'">  <button class="button" role="button" (click)="goto('makeapp')">Create App</button></ng-template>
    <ng-template [ngIf]="isLoggedIn">  <button class="button" role="button" (click)="logout()">Logout</button></ng-template>
</div>
