
<body>

<div class="login-form">
 
    <h1>Signup</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" placeholder="UserName"  [(ngModel)]="this.username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="input-field">
        <input type="password" placeholder="Password"  [(ngModel)]="this.password" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
    <div class="action">
      <button (click)="register()" >Register</button>
      <button (click)="login()">Login</button>
    </div>

</div>

  <script  src="./script.js"></script>

</body>

